@media (max-width: 1300px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        &__item {
            padding-left: 0;
        }
    }
    .aboutme {
        &__content {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__text {
            width: 500px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
        }
        &__skill {
            grid-template-columns: 40px 195px;
            column-gap: 15px;
        }
    }
    .resume {
        &__wrapper {
            padding: 65px 0 0 0;
            grid-template-columns: repeat(2, 420px);
            gap: 95px
        }
    }
    .skills {
        &__items {
            grid-template: repeat(2, minmax(267px, auto))/repeat(3, 269px);      
            gap: 10px;
            padding: 0px 55px;

        }
        &__ratings {
            grid-template-columns: repeat(2, 350px);
            padding: 100px 116px 0 120px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(2, 220px)/repeat(3, 220px);
            justify-content: center;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        background: url(../img/main_bg.jpg) no-repeat 54%/cover;
    }
    .aboutme {
        padding-top: 100px;
        &__content {
            grid-template-columns: 300px 380px;
        }
        &__title {
            font-size: 30px;
        }
        &__text {
            width: 390px;
        }
        &__skills {
            padding-top: 30px;
            grid-template-columns: 390px;
            grid-auto-rows: minmax(115px, auto);
            row-gap: 0px;
        }
        &__skill {
            grid-template-columns: 40px 320px;
            column-gap: 20px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 300px);
            gap: 95px;
        }
    }
    .skills {
        &__items {
            grid-template: repeat(1, minmax(267px, auto))/repeat(3, 225px);
            padding: 60px 0 0 0;
        }
        &__ratings {
            grid-template-columns: repeat(2, 340px);
            padding: 100px 0 0 0;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__title {
            width: 315px;
            font-size: 30px;
            line-height: 39px;
        }
    }
    .aboutme {
        padding-top: 40px;
        &__content {
            grid-template: 400px auto auto / 1fr;
        }
        &__text {
            width: 500px;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            column-gap: 10px;
        }
        &__skill {
            grid-template-columns: 40px 200px;
            column-gap: 20px;
        }
        &__photo {
            grid-row: unset;
            img {
                height: 100%;
            }
        }
        &__subtitle {
            padding-top: 46px;
            &:before {
                top: 38px;
            }
        }
    }
    .resume {
        &__title {
            padding-top: 230px;
            &:before {
                top: 222px;
            }
        }
        &__wrapper {
            padding: 50px 0 0 0;
            grid-template-columns: repeat(1, 515px);
        }
    }
    .skills {
        padding: 100px 0 0 0;
        &__items {
            grid-template: repeat(1, minmax(267px, auto))/repeat(2, 253px);
            padding: 0;
        }
        &__ratings {
            grid-template-columns: repeat(1, 298px);
            padding: 100px 107px 0 110px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 25px;
        }
        &__link {
            &:before {
                left: 20px
            }
        }
    }
    .hamburger {
        top: 10px;
        right: 10px;
    }
    .promo {
        background: url(../img/main_bg.jpg) no-repeat 58%/cover;
        &__title {
            font-size: 26px;
            width: 300px;
        }
        &__link {
            margin-right: 0;
            margin-top: 30px;
        }
    }
    .aboutme {
        padding-top: 100px;
        &__content {
            grid-template: 340px auto auto / 1fr;
        }
        &__photo {
            width: 97%;
        }
        &__subtitle {
            margin-left: 10px;
        }
        &__title {
            font-size: 25px;
            line-height: 50px;
            margin-top: 26px;
        }
        &__text {
            width: 310px;
            margin-top: 20px;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__title {
            padding-top: 430px;
            &:before {
                top: 422px;
            }
        }
        &__wrapper {
            grid-template-columns: repeat(1, 300px);
            gap: 35px;
        }
    }
    .skills {
        &__subtitle {
            font-size: 25px;
            line-height: 36px;
        }
        &__items {
            grid-template: repeat(1, minmax(267px, auto))/repeat(1, 300px);
            padding: 0;
            margin-top: 20px;
            justify-content: center;
        }
        &__ratings {
            padding: 48px 0 0 0;
            justify-content: center;
        }
        .divider {
            margin: 16px auto 0 auto;
        }
    }
}